# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import gmaps
import numpy as np
import pandas as pd
import time
import requests
from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Nouadhibou,0,MR,1604110234,88,20.93,-17.03,66.20,13.87
1,Vaini,40,TO,1604110235,69,-21.20,-175.20,78.80,13.87
2,Hermanus,0,ZA,1604110117,69,-34.42,19.23,53.01,11.86
3,Asău,100,RO,1604110235,97,46.43,26.40,42.01,4.18
4,Punta Arenas,75,CL,1604110055,66,-53.15,-70.92,50.00,10.29
...,...,...,...,...,...,...,...,...,...
542,Rehoboth,90,NaN,1604110073,29,-23.32,17.08,63.93,4.90
543,Kez,100,RU,1604110307,94,57.90,53.72,34.18,7.34
544,San Antonio,1,US,1604110028,50,29.42,-98.49,60.80,3.40
545,Necochea,0,AR,1604110307,72,-38.55,-58.74,51.01,8.01
546,Marzuq,0,YE,1604110307,47,14.40,46.47,62.96,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
 #Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:

# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
17,Rikitea,0,PF,1604109695,63,-23.12,-134.97,76.17,0.60
29,Kita,0,ML,1604110238,30,13.03,-9.49,74.48,2.37
200,Douentza,0,ML,1604110262,18,15.00,-2.95,76.26,3.20
221,Fereydūnkenār,0,IR,1604110264,40,36.69,52.52,73.81,7.90
297,Las Palmas,0,ES,1604110274,83,28.42,-14.01,71.60,9.17
311,Bousso,0,TD,1604110276,48,10.48,16.71,78.01,2.57
322,Sadasivpet,0,IN,1604110278,100,17.62,77.95,73.40,5.08
324,Belmonte,0,BR,1604110278,83,-15.86,-38.88,77.00,6.93
353,Arona,0,ES,1604110282,60,28.10,-16.68,71.01,4.70
374,Magaria,0,NE,1604110285,22,13.00,8.91,77.23,9.26
395,Airai,0,TL,1604110115,43,-8.93,125.41,78.98,2.84
441,Verāval,0,IN,1604110294,54,20.90,70.37,78.13,7.67
482,Jiwani,0,PK,1604110299,25,25.05,61.74,74.10,9.08
485,Doha,0,QA,1604110300,73,25.29,51.53,77.00,3.36
527,Binga,0,ZW,1604110305,44,-17.62,27.34,74.01,1.48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

              City Country    Lat     Lng Hotel Name
17         Rikitea      PF -23.12 -134.97
29            Kita      ML  13.03   -9.49
200       Douentza      ML  15.00   -2.95
221  Fereydūnkenār      IR  36.69   52.52
297     Las Palmas      ES  28.42  -14.01
311         Bousso      TD  10.48   16.71
322     Sadasivpet      IN  17.62   77.95
324       Belmonte      BR -15.86  -38.88
353          Arona      ES  28.10  -16.68
374        Magaria      NE  13.00    8.91
395          Airai      TL  -8.93  125.41
441        Verāval      IN  20.90   70.37
482         Jiwani      PK  25.05   61.74
485           Doha      QA  25.29   51.53
527          Binga      ZW -17.62   27.34

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

   
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # get results
    results = response['results']
    
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']


    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    time.sleep(1)


print("--------End of Search---------")

Retrieving Results for Index 17: Rikitea.
Closest hotel in Rikitea is Pension Maro'i.
------------
Retrieving Results for Index 29: Kita.
Closest hotel in Kita is HÔTEL LE RELAIS.
------------
Retrieving Results for Index 200: Douentza.
Closest hotel in Douentza is Ogomono Doumbo.
------------
Retrieving Results for Index 221: Fereydūnkenār.
Closest hotel in Fereydūnkenār is Kish Mehr Hotel.
------------
Retrieving Results for Index 297: Las Palmas.
Closest hotel in Las Palmas is Casa Pietra.
------------
Retrieving Results for Index 311: Bousso.
Missing field/result... skipping.
------------
Retrieving Results for Index 322: Sadasivpet.
Missing field/result... skipping.
------------
Retrieving Results for Index 324: Belmonte.
Missing field/result... skipping.
------------
Retrieving Results for Index 353: Arona.
Missing field/result... skipping.
------------
Retrieving Results for Index 374: Magaria.
Missing field/result... skipping.
------------
Retrieving Results for Index 395: Airai.
Missing field/result... skipping.
------------
Retrieving Results for Index 441: Verāval.
Missing field/result... skipping.
------------
Retrieving Results for Index 482: Jiwani.
Missing field/result... skipping.
------------
Retrieving Results for Index 485: Doha.
Missing field/result... skipping.
------------
Retrieving Results for Index 527: Binga.
Missing field/result... skipping.
------------
--------End of Search---------

In [9]:
hotel_df

              City Country    Lat     Lng       Hotel Name
17         Rikitea      PF -23.12 -134.97   Pension Maro'i
29            Kita      ML  13.03   -9.49  HÔTEL LE RELAIS
200       Douentza      ML  15.00   -2.95   Ogomono Doumbo
221  Fereydūnkenār      IR  36.69   52.52  Kish Mehr Hotel
297     Las Palmas      ES  28.42  -14.01      Casa Pietra
311         Bousso      TD  10.48   16.71
322     Sadasivpet      IN  17.62   77.95
324       Belmonte      BR -15.86  -38.88
353          Arona      ES  28.10  -16.68
374        Magaria      NE  13.00    8.91
395          Airai      TL  -8.93  125.41
441        Verāval      IN  20.90   70.37
482         Jiwani      PK  25.05   61.74
485           Doha      QA  25.29   51.53
527          Binga      ZW -17.62   27.34

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))